

.main {
    display: flex;
    flex-direction: row;
}

.left {
    height: 98vh;
    width: 18vw;
    display: flex;
    flex-direction: column;
    position: fixed;
    color: grey;
    margin-left: 2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.center {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin-left: 20vw;
    margin-top: 5.5em;
    color: grey;
}

.right {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
}

.main-content {
    margin-bottom: 2em;
}

.proj-head {
    display: flex;
    flex-direction: row;
    border-bottom: .1em solid darkgrey;
    padding: .5em;
}

.proj-head:hover {
    color: dimgrey;
    cursor: pointer;
    background-color:gainsboro;
}

.proj-head:hover .dropdown {
    transform: rotate(180deg);
}

.proj-head:active .dropdown {
    transform: rotate(180deg);
}

.dropdown {
    width: 0;
    height: 0;
    border-left: .5em solid transparent;
    border-right: .5em solid transparent;
    border-top: .5em solid grey;
    margin-left: 1%;
    margin-top: auto;
    margin-bottom: auto;
}

.proj-cont {
    padding: 0 .5em;
    border-bottom: .1em solid transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-in-out;
}

.proj-tags {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    font-family: vcr;
}

.proj-tag {
    background-color: dimgrey;
    border-radius: 0.2em;
    padding: 0.2em;
    margin: 0 0.1em;
    color: gainsboro;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

.about-p {
    margin-bottom: 0.5em;
}

.mobile-social {
    display: none;
}

#resume {
    display: flex;
    flex-direction: row;
}

#header-proj {
    margin-top: 2em;
}

#contact-text {
    margin: .5em 0;
}

#content-proj {
    margin: .5em 0;
}

#header-about {
    margin-bottom: 0.5em;
}

#section-about {
    margin-bottom: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(28, 28, 30)
    }
    .left {
        color: rgb(229,229,234);
    }
    .center {
        color: rgb(229,229,234)
    }
    .proj-head {
        border-bottom-color: rgb(242,242,247);
    }
    .proj-head:hover {
        color: rgb(242,242,247);
        background-color: rgb(44, 44, 46);
    }
    .dropdown {
        border-top-color: rgb(72,72,74)
    }
    .proj-tag {
        background-color: rgb(242,242,247);
        color: rgb(44, 44, 46);
    }
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }
    
    .left {
        position: relative;
        height: auto;
        width: 96vw;
        margin: 0;
    }

    .center {
        width: 96vw;
        margin: 0;
    }

    .right {
        height: 0;
    }

    .menu-item {
        margin-left: auto;
        margin-right: auto;
    }

    .proj-head:hover {
        color: dimgrey;
        cursor: pointer;
        background-color: white;
    }

    .mobile-social {
        display: block;
    }

    #menu {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
    }

    #me {
        margin-left: auto;
        margin-right: auto;
    }

    #name {
        margin-left: auto;
        margin-right: auto;
    }

    #media {
        display: none;
    }
}